{% extends 'dashboard.html' %}
{% block content %}
    <h2>Cash Activity</h2>
    <table class="table table-bordered" id="planData" width="100%" cellspacing="0">
        <thead><tr><th>Timestamp</th><th>Name</th><th>Value</th><th>Is Monthly</th></tr></thead>
        <tfoot><tr><th>Timestamp</th><th>Name</th><th>Value</th><th>Is Monthly</th></tr></tfoot>
        <tbody></tbody>
    </table>
{% endblock %}
{% block page_script %}
var planData = document.getElementById("planData");

var activityRequest = new XMLHttpRequest();
activityRequest.open('get', '/api/planning/', true);
activityRequest.onreadystatechange = function () {
    if (activityRequest.readyState != 4 || activityRequest.status != 200) {
        planData.tBodies[0].innerHTML = "<tr><td> - </td><td> - </td><td> - </td><td> - </td></tr>";
    } else {
        drawTable(JSON.parse(activityRequest.responseText));
    };
};
activityRequest.send();

function drawTable(data) {
    planData.tBodies[0].deleteRow(0);
    for (var i = 0; i < data.results.length; i++) {
        var row = planData.tBodies[0].insertRow(i);
        row.insertCell(0).innerHTML = data.results[i].timestamp;
        row.insertCell(1).innerHTML = data.results[i].name;
        row.insertCell(2).innerHTML = data.results[i].value;
        row.insertCell(3).innerHTML = data.results[i].is_monthly;
    }
}
{% endblock %}
