<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'vendor/bulma/bulma.min.css' %}">
    <script defer src="{% static 'vendor/fontawesome-free/all.js' %}"></script>
    <script defer src="{% static 'vendor/cookiesjs/cookies.min.js' %}"></script>
    <title>Welcome to MoneyTracker</title>
  </head>
  <body>
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-8-desktop is-offset-2-desktop">
            <h1 class="title is-2 is-spaced">
              Money Tracker
            </h1>
            <h2 class="subtitle is-4">Know where your money go.</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-8-desktop is-offset-2-desktop">
          <div class="content">
            <h2>Login</h2>
            <form id="loginForm" method="post">{% csrf_token %}
              <div class="field">
                <input id="uname" class="input is-rounded is-large" type="text" placeholder="Username">
              </div>
              <div class="field">
                <input id="passwd" class="input is-rounded is-large" type="password" placeholder="Password">
              </div>
              <button id="loginButton" class="button is-primary">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer has-text-centered">
    <div class="container">
      <div class="columns">
        <div class="column is-8-desktop is-offset-2-desktop">
          <p>
            <strong class="has-text-weight-semibold">
              MoneyTracker &copy; 2019
            </strong>
          </p>
        </div>
      </div>
    </div>
  </footer>
  <script>
    document.getElementById("loginForm").addEventListener("submit", function(event) {
        event.preventDefault();
        var uname = document.getElementById("uname").value;
        var passwd = document.getElementById("passwd").value;
        var r = new XMLHttpRequest();
        r.open("POST", "{% url 'rest_login' %}", false);
        r.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        r.onreadystatechange = function () {
            if (r.readyState != 4 || r.status != 200) {
                alert("Login Failed: " + r.responseText);
            } else {
                docCookies.setItem('token', JSON.parse(r.responseText).token);
                window.location = {% url 'dashboard' %};
            };
        };
        r.send("username=" + uname + "&password=" + passwd);
    });

  </script>
  </body>
</html>
