<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'vendor/bulma/bulma.min.css' %}">
    <script defer src="{% static 'vendor/fontawesome-free/all.js' %}"></script>
    <script defer src="{% static 'vendor/cookiesjs/cookies.min.js' %}"></script>
    <title>Welcome to MoneyTracker</title>
</head>

<body>
<nav class="level">
    <!-- Left side -->
    <div class="level-left">
        <div class="level-item">
            <h1 class="title">Moneytracker</h1>
        </div>
    </div>
</nav>

<section class="section">
    <h2 class="subtitle">Login</h2>
    <form id="loginForm" method="post">{% csrf_token %}
        <input id="uname" class="input is-rounded is-large" type="text" placeholder="Username">
        <input id="passwd" class="input is-rounded is-large" type="password" placeholder="Password">
        <button id="loginButton" class="button is-primary">Login</button>
    </form>
</section>
<footer class="footer">
  <div class="content has-text-centered">
    <p>MoneyTracker 2019</p>
  </div>
</footer>
<script>
    document.getElementById("loginButton").addEventListener("click", function(event) {
        event.preventDefault();
        var uname = document.getElementById("uname").value;
        var passwd = document.getElementById("passwd").value;
        var r = new XMLHttpRequest();
        r.open("POST", "{% url 'rest_login' %}", false);
        r.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        r.onreadystatechange = function () {
            if (r.readyState != 4 || r.status != 200) {
                alert("Login Failed: " + r.responseText);
            } else {
                docCookies.setItem('token', JSON.parse(r.responseText).token);
                window.location = {% url 'cash:main' %};
            };
        };
        r.send("username=" + uname + "&password=" + passwd);
    });
</script>
</body>

</html>
