<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'vendor/bulma/bulma.min.css' %}">
    <script defer src="{% static 'vendor/fontawesome-free/all.js' %}"></script>
    <script defer src="{% static 'vendor/cookiesjs/cookies.min.js' %}"></script>
    <title>Welcome to MoneyTracker</title>
</head>
<body>
<section class="section">
    <h2>Cash Activity</h2>
    <table class="table table-bordered" id="cashData" width="100%" cellspacing="0">
        <thead><tr><th>Timestamp</th><th>Name</th><th>Value</th><th>Is Monthly</th></tr></thead>
        <tfoot><tr><th>Timestamp</th><th>Name</th><th>Value</th><th>Is Monthly</th></tr></tfoot>
        <tbody></tbody>
    </table>
</section>
<script>
var cashData = document.getElementById("cashData");

var activityRequest = new XMLHttpRequest();
activityRequest.open('get', '/api/cash/activity/', true);
activityRequest.onreadystatechange = function () {
    if (activityRequest.readyState != 4 || activityRequest.status != 200) {
        cashData.tBodies[0].innerHTML = "<tr><td> - </td><td> - </td><td> - </td><td> - </td></tr>";
    } else {
        drawTable(JSON.parse(activityRequest.responseText));
    };
};
activityRequest.send();

function drawTable(data) {
    cashData.tBodies[0].deleteRow(0);
    for (var i = 0; i < data.results.length; i++) {
        var row = cashData.tBodies[0].insertRow(i);
        row.insertCell(0).innerHTML = data.results[i].timestamp;
        row.insertCell(1).innerHTML = data.results[i].name;
        row.insertCell(2).innerHTML = data.results[i].value;
        row.insertCell(3).innerHTML = data.results[i].is_monthly;
    }
}

</script>
</body>
