{% extends 'chunks/base.html' %}
{% load crispy_forms_tags %}
{% block page_content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">New Cash Activity</h1>
</div>

<div class="card o-hidden border-0 shadow-lg my-5">
  <div class="card-body p-0">
    <!-- Nested Row within Card Body -->
    <div class="row">
      <div class="col-lg-7">
        <div class="p-5">
          <form method="post" action="{% url 'cash:new' %}">{% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-primary btn-user btn-block" value="Save Cash Activity">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}